.promoVideo {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

.promoVideo iframe {
  width: 760px;
  height: 480px;
  margin: auto;
}

@media (max-width: 992px) {
  .promoVideo iframe {
    width: 660px;
    height: 415px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .promoVideo iframe {
    width: 460px;
    height: 215px;
    margin: auto;
  }
}
